body {font-size:100.1%; margin:0; color:#000; background:#fff; font-family:verdana,sans-serif;}
body, h1, h2, h3, p, form, table, ul, dl, ol, dd, dt, li {padding:0;}
img {border:none; vertical-align:bottom;}

h1 {font-size:200%; margin:0 0 1ex 0;}
h1 em {font-size:60%;}
h2 {font-size:150%; margin:3ex 0 1.333ex; clear:both;}
h2 em {font-size:80%;}
h3 {font-size:100%; margin:1.5ex 0 1ex;}
h1, h2 {color:#903;}
h1 em, h2 em {display:block; font-style:normal;}

#sidebar h2, #three h2, caption.bar {font-size:120%; text-align:center; padding:0.25ex; margin:0;}
#three h2, #sidebar h2, div#logo, #topmenu li.selected {color:#fff; background:#903 top left no-repeat;}
#three .collection h2 {margin:0 0 1ex 0; color:#000; background:#fff none; font-size:100%;}


a, #three .collection a {color:#33c;}
a:visited, #three .collection a {color:#936;}
table a, #sidebar ul a, #topmenu a {font-weight:bold; text-decoration:none;}
#three h2 a, #sidebar h2 a, #sidebar li.current a, #topmenu .selected a {color:#fff; text-decoration:underline;}
a:hover, a:active {background:#fc6;}
table a:hover, table a:active, #three h2 a:hover, #three h2 a:active, #sidebar a:hover, #sidebar a:active, #topmenu a:hover, #topmenu a:active {background:#fc6; color:#903; text-decoration:underline;}

p {margin:2ex 0; line-height:150%;}
p em {font-size:80%}
ol, ul, dl {line-height:120%;}
ul, dl {margin:0;}
li, dd {margin:0 0 1.5ex 3ex;}
dt {font-weight:bold;}
ol {margin:0 0 0 3.5ex;}
ol li {margin:0;}
li h3 {display:inline;}
br {clear:both;}

form {margin:0;}
form span {font-weight:bold;}
form span input {display:block;}
fieldset {display:inline; margin:1ex; padding:1ex; border:#000 solid 1px;}
legend {font-weight:bold;}
select {margin:0 1ex;}
input.button {margin:1ex;}
textarea {overflow:auto;}

table, th, td, thead, tbody {font-size:100%; margin:0; border:#000 solid 2px; border-collapse:collapse;}
th, td {padding:0.5ex 1ex;}
td {border-width:1px;}
caption, div.caption {padding:1.5ex 0; font-weight:bold; text-align:left;}

.right {text-align:right;}
.left {text-align:left;}
.center {text-align:center;}
.center div {display:inline;}
.center h3 {display:inline;}

.float {width:100%; clear:both;}
.fr {float:right;}
.fleft {float:left; width:49%;}
.fright {float:right; width:49%;}

.collection {clear:both;}
.collection div {float:left; text-align:center;}
.collection div {font-weight:bold; margin:0.25ex; padding:0.25ex; border:#ccc solid 1px;}
.collection div div {border:none; display:block; float:none;}
.collection input {display:block; width:4.5ex;}
.collection input.no {color:#999;}
.collection img {margin:0.25ex;}
.collection div img {display:block;}
#three .collection {width:100%; margin:0 0 1ex;}
#three .collection div {border:none;padding:0;}
#three .collection div {margin:1ex; }

.fimg {float:right; margin:1ex 0 0 1ex; clear:both;}
#three .fimg {margin-top:0;}
.img {margin:1ex;}
.old {color:#999;}
.alert {color:#f00;}
em.rem {font-size:80%; padding:0.5ex;}
.banner {text-align:center; margin:1ex; overflow:hidden;}
.fborder {float:right; text-align:center; width:15%; margin:3.5ex 1ex 1ex 1ex; padding:1ex; border:#903 solid 1px;}

.magenta {background:#fcf;}
.red {background:#fdd;}
.yellow {background:#ffc;}
.green {background:#dfd;}
.cyan {background:#cff;}
.blue {background:#ddf;}

#main {margin:8ex 3ex 2ex 30ex;}
#footer {clear:both; color:#903; font-weight:bold; margin-top:3ex; padding-top:1.5ex; border-top:#903 solid 0.5ex;}
#main ul {padding: 1ex 0; margin:0 0 2ex;}

#three #main {margin-right:32.5ex;}
#three strong {font-weight:normal; font-style:italic; color:#903}
#hits {position:absolute; overflow:hidden; top:8ex; right:1ex; width:28.5ex; background:#fff;}
#hits ol {margin-bottom:2ex;}
#hits li {margin-left:2ex;}
#hits div div {text-align:center;}
#hits h3 {text-align:center;}

#cart {border:2px solid #903;}
#cart th {border:1px solid #903; border-bottom:2px; border-top:2px;}
#cart td {border:1px solid #000;}
#cart tfoot td, #cart tfoot th {border:none;}
#cart th em {font-weight:normal;}
#cart label {font-weight:bold;}
#cart tfoot th {border-top:2px solid #903;}

#contact {border:#903 solid 1px;}
#contact th, #contact td {margin:2ex 0; border:none;}
#contact th em {font-weight:normal;}
#contact th {text-align:right;}
#contact .alert {display:block;}

#sidebar {position:absolute; top:1ex; left:1ex; width:240px; z-index:1; overflow:hidden; font-size:13px; font-weight:normal; background:#fff;}
#sidebar li {margin:1em;}
/*#sidebar div {margin:0 0 2ex 0; padding:2ex 0; border:1px solid #903; text-align:center;}*/
#sidebar div div, #sidebar #counters, #sidebar #logo {margin:0; padding:0; border:none;}

#logo {width:31.5ex; height:9ex;}
#logo object, #logo img {position:absolute; width:30ex; height:7.5ex; top:1ex; left:1ex;}
#logo img {z-index:3;}
#logo object {z-index:2;}

#sidebar label, #sidebar input, #help {font-size:90%; margin: 0.25ex 0;}
#sidebar input {width:18ex;}
#sidebar input.submit {width:8ex; /*background:#fc6; color:#903;*/ margin-left:0.5ex;}
#sidebar label, #help {display:block; float:left; width:12ex; text-align:right;}
form#search div {color:#fff; background:#903; margin: 0; padding:0 0 1ex 0;}
form#search input {width:22ex;}
#sidebar form.subscribe label {width:14.3ex;}
#sidebar form.subscribe input {width:18.3ex;}
#sidebar form.subscribe input#subscribe {/*background:#fc6; color:#903;*/ margin-left:0.5ex; width:16ex;}

#sidebar ul, #sidebar div {/*color:#903; background:#fc6;*/ border:1px solid #903; margin:0 0 2ex; padding:1ex 0 1ex 1ex;}
#sidebar ul {border:0.125em solid #006b3f; margin:0 0 1em 1em; padding:0; font-weight:normal;}
#sidebar li {list-style:none; font-weight:normal; /*font-weight:bold; margin:0; padding-left:2ex; line-height:180%;*/}
#sidebar li.current {color:#fff; background:#903;}
#sidebar li.selected {color:#fff; background:#903;}
#sidebar li.line {border-top:1px solid #903;}
#counters img {width:88px; height:31px; margin:1ex;}

#topmenu {position:absolute; top:0; left:0; width:100%; font-weight:bold;}
#topmenu ul {margin:1ex 1ex 1ex 27.5ex; height:4.25ex; padding:0 0 0 3ex; border-bottom:#903 solid 0.5ex;}
#topmenu li {float: left; list-style:none; padding:0.95ex; background:#fc6; margin:0 0.25ex 0; border:#903 solid 1px; border-bottom: none;}
#topmenu li.selected {border:none; border-bottom:#903 solid 1px; border-right:#903 solid 2px;}

#main #sidebar {position:absolute; top:14ex; left:1ex;}

.breadcrumbs {color:#000;}
.breadcrumbs li {font-size:14px; float:left; margin:0; padding-right:0.5em; list-style:inside square url('tr9.png');}
.breadcrumbs li:first-child {list-style:none;}

@media print {
body {font-size:12pt; font-family:"times new roman",serif;}
#main {margin:0 0;}
#sidebar, #topmenu{display:none;}
h1, h2, h3 {page-break-after:avoid;}
table, td, th {font-size:10pt;}
a, a:visited {color:#000; font-style:italic; text-decoration:none;}
}
