/*
    based on 960 Grid System 12 column idea - http://960.gs/
    with 16px line height, 64px column width and 16px column gap
*/
/*
Reset CSS http://developer.yahoo.com/yui/reset/
*/
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
/*table{border-collapse:collapse;border-spacing:0;}*/
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/*To enable resizing for IE6-Win, IE7-Win */
input,button,textarea,select{font-size:100%;}

/*
Custom declarations
*/
body {overflow:scroll; overflow-x:auto; *overflow-y:auto;}
body {font-size:100%; font-family: Verdana,"Bitstream Vera Sans","DejaVu Sans","Lucida Sans Unicode","Lucida Grande","Lucida Sans",sans-serif;}
body {width:60em; margin-top:0; margin-left:auto; margin-right:auto;}
ol li {list-style:decimal inside; clear:both;}
dt { font-weight: bold }
ol ul, ul ul, ol ol {margin-left:2em;}
ul ul li {list-style:square; list-style-image:none;}

table {font-size:13px; border-collapse:collapse;}
th, td {border:1px solid #000; padding:0.5em; padding-right:0.25em;}
th {font-weight:bold;}

em {font-style:italic;}
strong {font-weight:bold;}
pre {clear:both; white-space:pre; font-family:monospace; background:#eee;}
sup {vertical-align:super;}

:link:focus, :visited:focus {color:#f00; text-decoration:underline;}
:link {color:#006b3f;}
:visited {color:#396;}
:link:hover, :visited:hover {color:#f00; text-decoration:underline;}
:link:active, :visited:active {color:#f00; text-decoration:underline;}

h1, h2, h3 {font-weight:bold; clear:both; padding-left:8px;}
h1 {font-size:18px;}
h1 em {display:block; font-size:0.75em;}
h2 {font-size:16px; margin:0.5em 0;}
h3 {font-size:14px;}
h2.em {padding-top:1em;}

h2, h3 {margin:1em 0.5em;}

p, li {font-size:13px; text-align:justify;}
p img, li img {float:left; clear:left; margin:0 16px 16px 0;}
p {margin:8px 0;}
ol.gallery li img {float:none; display:block;}

br {clear:both;}

.small {font-size:smaller;}
.hidden {display:none;}

.green {padding:0 1em; border:2px solid #006b3f; background:#9fc;}

.body {position:absolute; width:60em; }
.body {margin-top:3em;}

.breadcrumbs {position:absolute; top:-2em; left:0.5em; color:#000;}
.breadcrumbs li {font-size:14px; float:left; padding-right:0.5em; list-style:inside square url('tr9.png');}
.breadcrumbs li:first-child {list-style:none;}

.inline li {font-size:0.75em; display:inline; list-style:none; border-left:1px solid #006b3f; padding:0 2px 0 6px;}
.inline li:first-child {border-left:none;}

.inline-menu {margin-bottom:1em;}
.inline-menu li {display:inline; list-style:none; border-left:1px solid #006b3f; padding:0 2px 0 6px;}
.inline-menu li:first-child {border-left:none;}

.products ul {margin-bottom:1em;}
.products li {float:left; width:176px; margin:16px 8px; position:relative;} /* 1/5 */
.p4 .products li {width:224px;}
.products li {font-size:14px;}
.products div h3 {padding-left:0; text-align:center; text-decoration:none;}
.products div h3 a {text-decoration:none;}
.products img {float:none; height:80px; margin:0;}
.p4 .products img {height:120px;}
.products ul {margin-left:12px;}
.products ul li {display:list-item; float:none; font-size:13px; margin:0;}
.products ul li {list-style:inside square url('sq6.png'); font-size:13px; line-height:16px;}
.products ul li a {text-decoration:none;}
.products ul li ul li {list-style:inside circle url('tr5.png');}

.actions li {width:304px; margin:16px 8px; float:left; position:relative;} /* 1/3 */
.actions div {margin:0; padding:0; border:none; color:#000; text-align:center;}
.actions div.action {position:relative; width:300px; height:160px; margin:0; border:2px solid #006b3f;}
.actions img {z-index:-1; position:absolute; top:16px; left:56px; width:auto; height:128px; margin:0;}
.actions .title {margin-top:8px; font-size:14px; font-weight:bold; width:260px;}
.actions .slogan {position:absolute; top:25px; width:100%; text-align:center; font-size:13px; font-style:italic; }
.actions .price {position:absolute; right:3px; top:3px; background: #c30; color:#fff; font-size:13px; font-weight:bold; padding:4px 2px 4px 4px;}
.actions .spec {position:absolute; left:0; bottom:8px; font-size:13px; width:100%; text-align:center;}
.actions img.over {z-index:1; position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%;}
span.action {color: #c30; font-weight:bold;}

.actions4 li {width:230px; margin:8px 5px 12px; float:left; position:relative;} /* 1/3 */
.actions4 div {margin:0; padding:0; border:none; color:#000; text-align:center;}
.actions4 div.action {position:relative; width:226px; height:120px; margin:0; border:2px solid #006b3f;}
.actions4 img {z-index:-1; position:absolute; top:12px; left:37px; width:150px; height:auto; margin:0;}
.actions4 .title {margin-top:4px; font-size:11px; font-weight:bold; width:192px;}
.actions4 .price {position:absolute; right:2px; top:2px; background: #c30; color:#fff; font-size:10px; font-weight:bold; padding:3px 2px 3px 3px;}
.actions4 .spec {position:absolute; left:0; bottom:6px; font-size:11px; width:100%; text-align:center;}
.actions4 img.over {z-index:1; position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%;}
.actions4 p {font-size:12px; text-align:left;}

.news ul {width:714px; margin:16px 8px; float:left; position:relative; }
.news ul li {position:relative; clear:both; display:block; list-style:none; text-align:left;}
.news div {float:left; width:64px; margin:8px 0;}
.news div.text {float:right; width:630px; margin:8px; text-align:left;}
.news img {width:64px; margin:0;}
.news h3 {margin:0; padding:0;}

.home .news ul {width:464px;} /* 1/2 */
.home .news div.text {width:380px;}

.home h1 {text-align:center; margin-top:1em;}
.home h2 {font-size:15px; clear:both; text-align:center; margin:0;}
.home h2 {padding:0.25em 0.5em; color:#fff; background: #006b3f top right no-repeat url('header.png') ;}
.home h2 a:link, .home h2 a:visited {color:#fff;}
.home h2 a:focus, .home h2 a:hover {color:#f00;}

.alert {color:#f00; font-weight:bold;}

.break {clear:both; margin:1em; }
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}

.two img, .three img, .four img {height:160px;}

.two {float:left; width:50%; text-align:center;}
.two h2 {text-align:center;}
.two p {font-size: 0.75em; margin:0.5em;}
.two ol {text-align:left; margin-right:1em; font-size:smaller;}

.three {float:left; width:33.33%; text-align:center;}
.three h2 {text-align:center;}
.three p {font-size: 0.75em; margin:0.5em;}

.four {float:left; width:25%; margin-bottom:2em; text-align:center;}
.four ul {margin:1em 0; font-size:0.75em;}
.four li {list-style:none; margin:0;}
.four ul ul {font-size:0.6em;}
.four ul ul li {display:inline;}

.five {float:left; width:190px; margin-bottom:1em; text-align:center; border-right:1px dotted #006b3f;}
.five img {width:10em; max-height:9em;}
.five ul {margin:1em 0; font-size:0.75em;}
.five li {list-style:none; margin:0;}
.five ul ul {font-size:0.75em;}
.five ul ul li {display:inline;}

.product-navigation {position:relative; top:0; right:0; width:100%; border-bottom:1px solid #006b3f;}
.product-navigation ul {position:absolute; right:0; bottom:-1px;}
.product-navigation li {font-size:13px; float:left; list-style:none; border:1px solid; border-color: #006b3f;}
.product-navigation li {width:10em; margin:0; padding:0.25em 0.125em; text-align:center;}
.product-navigation li.selected {border-color:#006b3f #006b3f #fff; font-weight:bold;}
li.buy a {padding:0 0.5em; background: #c30; color: #fff; font-weight:bold;}
li.buy :link:focus, li.buy :visited:focus {color:#ff0; text-decoration:underline;}
li.buy :link:hover, li.buy :visited:hover {color:#ff0; text-decoration:underline;}

.main {margin-bottom:1em;}
.text, .main-left {float:left; width:44em; margin-bottom:1em;}
.main-left p, .main-left li {font-size:13px;}
.text p:last-child, .main-left p:last-child {margin-bottom:0;}

.local-menu, .pictures {float:right; width:15em; margin:0.75em 0 1em 1em;}
.pictures h2 {text-align:center;}
.pictures li {list-style:none; margin-left:5em;}
.pictures .break {margin:1em 0 0 5em;}

.local-menu ul {margin:0 0 1em; border:2px solid #006b3f;}
.local-menu li {list-style:none; padding:0.5em 1em; border-top:2px solid #fff;}
.local-menu .line {border-top-color:#006b3f;}
.local-menu ul ul {font-size:0.8em;}

.local-menu .login {margin:0 0 1em; padding:1em; border:2px solid #006b3f;}
.login form {font-size:13px;}
.login h2 {font-size:15px; margin:0; padding:0; text-align:center;}

.address img {float:left; margin:0 1em 1em 0;}
.address ul {margin-left: 180px;}
.address h2 {clear:left;}

table.spec {font-size:12px; margin:1em 0; border:0.125em solid #000;}
.spec img {max-width:120px; max-height:120px;}

.support {width:75%; font-size:13px;}
.support h2 {font-size:16px;}
form.support h2 {color:#fff; background: #006b3f top right no-repeat url('header.png') ;}
.support h2 {padding:0.25em 1em; margin:0;}
.support h2 {color:inherit;}
.support div {border:2px solid #006b3f; border-top:none; padding:1em; margin-bottom:1em;}
.support div div {border:none; clear:both; margin:0; padding:4px; padding-left:0;}
.support label {float:left; width:45%; text-align:right; margin-right:1em;}
.support input {width:50%; border:1px solid #006b3f;}
.support select {color:#006b3f; background:#fff; border:1px solid #006b3f;}
.support textarea {width:100%; border:1px solid #006b3f; overflow:auto;}
.support input[type="submit"] {width:auto;}

.partners {
    font-size:13px;
    padding: 3px;
    margin-bottom: 16px;
    border: 1px solid #006b3f;
}
.partners p {
    margin: 0;
    padding: 0 0 10px 10px;
}
.partners label {
    padding: 0 0 10px 10px;
    width: 300px;
    display: block;
    float: left;
}
.partners br {
    clear: both;
}
.partners h3 {
    font-size:15px;
    font-weight:bold;
    padding: 7px 5px 0 10px;
    margin: 0 0 15px 0;
}
.partners input, .partners select, .partners textarea {
    border: 1px solid #006b3f;
    padding: 2px 0 2px 0;
    margin: -2px 10px 10px 0;
    background-color: #fff;
    width: 300px;
    display: block;
    float: right;
}

.partners input.check {
    width:auto;
    float:left;
}

#loader {display:none;}

#configurator {margin-top:1em;}
#configurator h2, #configurator h3 {clear:both; font-weight:bold; padding-left:10%; margin-top:1em; margin-bottom:0.5em; border-bottom:1px #006b3f;}
#configurator h2 {padding-top:1em; font-size:1em; border-bottom-style:solid;}
#configurator h2:first-child {padding-top:0; margin-top:0;}
#configurator h3 {padding-top:0.5em; font-size:13px; border-bottom-style:dotted;}
#configurator p {text-align:left;}
#configurator li {clear:both; list-style:none;}
#configurator li ul {margin-bottom:1em;}
#configurator li li {list-style:square inside;}

#configurator .configurator-component-hidden {color:#999;}

#configurator .input-section {float:left; width:10%; min-height:2.5em;}
#configurator .input-section input {max-width:25%;}
#configurator .input-section select {max-width:75%;}
#configurator .configurator-component-name {float:left; width:65%;}
#configurator .configurator-component-description {width:65%;}
#configurator .configurator-component-description {font-style:italic; margin:0 0 1em 10%;}
#configurator .configurator-prices {float:right; width:25%; text-align:right;}
#configurator .configurator-price-single {float:left; width:50%;}
#configurator .configurator-price-total {float:right; width:50%; font-weight:bold;}
#configurator .total {clear:both; position:relative; height:3em; border-bottom:1px solid #006b3f;}
#configurator .total h2 {position:absolute; left:0; bottom:0; border:none; margin:0;}
#configurator .total div {position:absolute; right:0; bottom:0; font-weight:bold;}
#configurator .submit {text-align:right; margin-top:0.5em;}

div.form_field_wrapper ul.errorlist li {font-weight:bold; color:#f00; list-style:inside circle none;}

.header {position:absolute; left:0; right:0; margin-top:0.5em; height:6em;}
.header {color:#fff; background: #006b3f top right no-repeat url('header.png');}

.header .logo img {position:absolute; top:0.5em; left:0.5em; height:3em;}
.header div.lang {font-size:0.75em; position:absolute; left:5.2em; bottom:2.75em; padding:0.25em;}
.header div.lang span {color:#fff;}
.header div.lang a:link, .header div.lang a:visited {color:#fff; font-weight:bold;}
.header div.lang a:focus, .header div.lang a:hover {color:#f00; font-weight:bold;}

.header ul.lang {position:absolute; top:0.5em; right:0.5em;}
.header ul.lang li {float:left; list-style:none;}
.header ul.lang li {margin:2px; padding:0;}
.header ul.lang img {margin:0; padding:2px;}
.header ul.lang a img {background:#000;}
.header ul.lang a:link img, .header ul.lang a:visited img {background:transparent;}
.header ul.lang a:focus img, .header ul.lang a:link:hover img, .header ul.lang a:visited:hover img {background:#f00;}

.header .search {position:absolute; top:1em; right:1em;}
.search input {font-size:0.75em; width:18em; padding:0.25em;}
.search input.submit {width:auto; padding:0.125em 0.25em; color:#fff; background:#006b3f;}

.header .menubar {position:absolute; bottom:0; left:0; right:0;}
.menubar ul {position:absolute; bottom:0; left:0; right:0;}
.menubar ul {background:#000; padding-left:0.5em;}
.menubar li {font-size:14px; float:left; list-style:none;}
.menubar li {width:8em; margin:0; text-align:center;}
.menubar li {color:#fff; border:1px solid #000; border-right-color:#fff; padding:0.5em;}
.menubar li:hover {background:#006b3f;}
.menubar li.selected {color:#000; background:#fff; border-left-color:#fff; border-bottom-color:#fff;}
.menubar li.selected:hover, .menubar li.selected:active {background:#fff;}
.menubar li a {display:block; color:#fff; text-decoration:none;}
.menubar li a:hover, .menubar li a:active {text-decoration:underline;}
.menubar li.selected a {color:#006b3f; text-decoration:underline;}
.menubar li.selected a:hover, .menubar li.selected a:active {color:#f00;}
.menubar .cartbar {font-size:14px; position:absolute; bottom:0; right:0; padding:0.5em 1.5em;}
.menubar .cartbar {background: left no-repeat url('cart.png');}
.menubar .cartbar a:link, .menubar .cartbar a:visited {color:#fff;}
.menubar .cartbar a:focus, .menubar .cartbar a:hover {color:#f00;}

.breadcrumbs {top:7em;}

.pre {
      white-space: pre;           /* CSS2 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 2.1/3 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP printers */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      word-wrap: break-word;      /* Только для динозавра IE */
}

/* with breadcrumbs */
.body {margin-top:9.5em;}
.header {top:-9.5em;}

/* Tables */
table.drivers {width: 100%;}

/* without breadcrumbs */
.home .body {margin-top:6.5em;}
.home .header {top:-6.5em;}
.p4 ul.products li {font-size:85%;list-style:none;text-align:center;}
.p4 ul.products ul {margin-left:0;}

/*.footer {display:none;}*/
.footer {clear:both; text-align:center;}
.footer {font-size:0.8em; padding:1em 0; border-top:2px solid #006b3f;}
.footer li {display:inline; list-style:none; border-left:1px solid #006b3f; padding:0 2px 0 6px;}
.footer li:first-child {border-left:none;}

